FLASK_DEBUG=true
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/financial_api
FINANCIAL_REMOTE_DB_HOST=remote-host
FINANCIAL_REMOTE_DB_PORT=5432
FINANCIAL_REMOTE_DB_USER=remote_user
FINANCIAL_REMOTE_DB_PASSWORD=remote_password
FINANCIAL_REMOTE_DB_NAME=postgres
COGNITO_USER_POOL_ID=us-east-1_dRwH4FHq3
COGNITO_REGION=us-east-1
API_VERSION=v1
DOCKERHUB_IMAGE=your-dockerhub-user/financial-flask-api:latest
